html{
    background-color: bisque;
}
header{
    text-decoration: underline;
}
#grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    column-gap: 10px;
    row-gap: 10px;
}
#grid > .food{
    display: grid;
    width: 15vw;
    justify-items: center;
    align-items: center;
}
